.fundo{background-color: rgb(160, 154, 136);}
.letra{color:white ;
text-align: center;}
.letra2{color:white ;
text-align:center;}
.lera
{font-size: xx-large;
    background-color: rgb(255, 255, 255);
    margin-left:600px ;
    margin-right:600px ;  
color: rgb(0, 0, 0);
text-align: center;
border-radius: 20px;}
.jlera
{font-size: xx-large;
    background-color: rgb(216, 38, 38);
    margin-left:600px ;
    margin-right:600px ;  
color: rgb(255, 255, 255);
text-align: center;
border-radius: 20px;}.h { 

    background-color: #fff; 

    height: 60px; 

    margin: -10px; 

    font-size: 2cm; 

    align-items: center; 

    display: flex; 

    justify-content: center; 

    width: 101.5%; 

} 

   

  h1 { 

    color: black; 

    margin: 0; 

  } 

  .butao{ 

    background-color: white; 

    color: rgb(0, 221, 255); 

    padding: 10px 20px; 

    border: none; 

    border-radius: 5px; 

    cursor: pointer; 

    margin-top: 0.4cm; 

    margin-bottom: 0.4cm; 

    font-size: 0.7cm; 

    margin-right: 0.1cm; 

  } 


  .butao:hover { 

    background-color: rgb(0, 187, 255); 

    color: white; 

    padding: 10px 20px; 

    border: none; 

    border-radius: 5px; 

    cursor: pointer; 

    margin-top: 0.4cm; 

    margin-bottom: 0.4cm; 

    font-size: 0.7cm; 

    margin-right: 0.1cm; 

  }form { 

    display: flex; 

    align-items: center; 

  } 

   

  input[type="text"] { 

    padding: 10px; 

    font-size: 16px; 

    border: none; 

    border-radius: 5px; 

    margin-top: 0.4cm; 

    margin-bottom: 0.4cm; 

    font-size: 0.7cm; 

  } 

   

  button[type="submit"] { 

    padding: 10px 20px; 

    background-color: rgb(0, 170, 255); 

    color: white; 

    border: none; 

    border-radius: 5px; 

    cursor: pointer; 

    margin-left: 10px; 

    margin-top: 0.4cm; 

    margin-bottom: 0.4cm; 

    font-size: 0.7cm; 

    margin-right: 0.1cm; }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .label {
      margin-bottom: 10px;
      color: white;
      font-size: 1cm;
    }
    .input{background-color: white;
        font-size: 1cm;
    }

    .carousel-inner{
      padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 0.4cm;
        margin-bottom: 0.4cm;
        font-size: 0.7cm;
        margin-right: 11cm;
        height: 600px;

    }
    x
  